

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-575536818452169247.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-575536818452169247.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-575536818452169247.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-575536818452169247.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-575536818452169247.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-575536818452169247.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-575536818452169247.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-575536818452169247.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-575536818452169247.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-575536818452169247.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-575536818452169247.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-575536818452169247.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-575536818452169247.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-575536818452169247.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-575536818452169247.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-575536818452169247.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-575536818452169247.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-575536818452169247.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-575536818452169247.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-575536818452169247.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-575536818452169247.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-575536818452169247.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-575536818452169247.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-575536818452169247.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-575536818452169247.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-575536818452169247.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-575536818452169247.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-575536818452169247.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-575536818452169247.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-575536818452169247.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-575536818452169247.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-575536818452169247.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-575536818452169247.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-575536818452169247.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-575536818452169247.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-575536818452169247.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-575536818452169247.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-575536818452169247.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-575536818452169247.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-575536818452169247.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-575536818452169247.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-575536818452169247.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-575536818452169247.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-575536818452169247.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-575536818452169247.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-575536818452169247.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-575536818452169247.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-575536818452169247.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-575536818452169247.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-575536818452169247.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-575536818452169247.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-575536818452169247.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-575536818452169247.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-575536818452169247.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-575536818452169247.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-575536818452169247.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-575536818452169247.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-575536818452169247.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-575536818452169247.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-575536818452169247.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-575536818452169247.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-575536818452169247.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-575536818452169247.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-575536818452169247.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-575536818452169247.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-575536818452169247.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-575536818452169247.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-575536818452169247.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-575536818452169247.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-575536818452169247.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-575536818452169247.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-575536818452169247.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-575536818452169247 .gp-relative{position:relative}.gps-575536818452169247 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-575536818452169247 .gp-mb-0{margin-bottom:0}.gps-575536818452169247 .gp-flex{display:flex}.gps-575536818452169247 .gp-grid{display:grid}.gps-575536818452169247 .\!gp-hidden{display:none!important}.gps-575536818452169247 .gp-hidden{display:none}.gps-575536818452169247 .gp-w-full{width:100%}.gps-575536818452169247 .gp-max-w-full{max-width:100%}.gps-575536818452169247 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-575536818452169247 .gp-flex-col{flex-direction:column}.gps-575536818452169247 .gp-gap-y-0{row-gap:0}.gps-575536818452169247 .gp-overflow-hidden{overflow:hidden}.gps-575536818452169247 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575536818452169247 .gp-duration-200{transition-duration:.2s}.gps-575536818452169247 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-575536818452169247 .tablet\:\!gp-hidden{display:none!important}.gps-575536818452169247 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-575536818452169247 .mobile\:\!gp-hidden{display:none!important}.gps-575536818452169247 .mobile\:gp-hidden{display:none}}.gps-575536818452169247 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-575536818452169247 .\[\&_p\]\:gp-inline p{display:inline}.gps-575536818452169247 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-575536818452169247 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWZiA9DzOq" data-id="gWZiA9DzOq"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:48px;--pl:20px;--pb:24px;--pr:20px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:10px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWZiA9DzOq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwWuPv1g6x gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ga0IxLnou_" data-id="ga0IxLnou_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:32px;--pl:32px;--pb:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1320px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga0IxLnou_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goY1rZtA0P gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsanI-a2MU" data-id="gsanI-a2MU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:-1px;--mb:8px;--pl:1px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:582px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsanI-a2MU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR6didr_SP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYkkpP1Stv">
    <div
      parentTag="Col"
        class="gYkkpP1Stv "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:8px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#002917;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYkkpP1Stv_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVX_CAq0w2">
    <div
      parentTag="Col"
        class="gVX_CAq0w2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:80px;--mb-mobile:28px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#395448;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVX_CAq0w2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gVX_CAq0w2">
        .gVX_CAq0w2 {

}
.gVX_CAq0w2 p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--mb:80px;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb-mobile:28px;--pt-mobile:0px" class="gDmX9mEGTy ">
      
    <div class='gp-flex gp-overflow-hidden' style="border-radius: inherit">
      
  <gp-image-comparison
  data-id="gDmX9mEGTy"
    gp-data='{"aspectRatio":{"desktop":"920/894"},"defaultRatio":"920/894","handle":null,"handleSize":40,"hover":false,"leftImage":{"backupFileKey":"gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png","height":894,"src":"https://cdn.shopify.com/s/files/1/0611/5111/7547/files/gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png","storage":"FILE_CONTENT","width":920},"leftImageCss":{},"rightImage":{"backupFileKey":"gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png","height":894,"src":"https://cdn.shopify.com/s/files/1/0611/5111/7547/files/gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png","storage":"FILE_CONTENT","width":920},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gDmX9mEGTy","vertical":false}'
    class="gp-w-full gp-flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start"
  >
  <div id="img-comparison-wrapper-gDmX9mEGTy" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block"
      id="img-comparison-container-gDmX9mEGTy"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="920"
        height="894"
        style="--pos:static;--op:0;--aspect:920/894"
      />
      
  <img
      id="right-image-gDmX9mEGTy" title
      data-testid="right-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png" | file_url }}" data-srcset="{{ "gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:fill;--objf-mobile:fill"
    />
  
      
  <img
      id="left-image-gDmX9mEGTy" title
      data-testid="left-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png" | file_url }}" data-srcset="{{ "gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:fill;--objf-mobile:fill"
    />
  
      <div id="image-comparison-slider-gDmX9mEGTy" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqX2Nls36-">
    <div
      parentTag="Col"
        class="gqX2Nls36- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#002917;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqX2Nls36-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqX2Nls36-">
        .gqX2Nls36- {

}
.gqX2Nls36- p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="ggq772KJqy" data-id="ggq772KJqy"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:-1px;--mb:24px;--pl:1px;--mb-mobile:21px;--cg:24px;--cg-mobile:13px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:554px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggq772KJqy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grefzwrRun gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9MaSm7VMG" data-id="g9MaSm7VMG"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--pt:12px;--pl:16px;--pb:12px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:170px;--w-tablet:170px;--w-mobile:120px;--bgc:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 76%, #D3EFE3 77%);--bgi:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 76%, #D3EFE3 77%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9MaSm7VMG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8uNbPa05J gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFSbGHW-AL">
    <div
      parentTag="Col"
        class="gFSbGHW-AL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#002917;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFSbGHW-AL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gFSbGHW-AL">
        .gFSbGHW-AL {

}
.gFSbGHW-AL p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gORUzgr6py gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5inWRB9OW">
    <div
      parentTag="Col"
        class="g5inWRB9OW "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mb-mobile:0px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#395448;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5inWRB9OW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g5inWRB9OW">
        .g5inWRB9OW {

}
.g5inWRB9OW p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gd6L_43aVr" data-id="gd6L_43aVr"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:-1px;--mb:24px;--pl:1px;--mb-mobile:21px;--cg:24px;--cg-mobile:13px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:554px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd6L_43aVr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNihOchQm2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g2fiBl4_6g" data-id="g2fiBl4_6g"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--pt:12px;--pl:16px;--pb:12px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:170px;--w-tablet:170px;--w-mobile:120px;--bgc:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 17%, #D3EFE3 17%);--bgi:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 17%, #D3EFE3 17%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2fiBl4_6g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGQYcudypr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gicy52hzMt">
    <div
      parentTag="Col"
        class="gicy52hzMt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#002917;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggicy52hzMt_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gicy52hzMt">
        .gicy52hzMt {

}
.gicy52hzMt p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwTB_BFWZV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0woFqCB3-">
    <div
      parentTag="Col"
        class="g0woFqCB3- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mb-mobile:0px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#395448;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0woFqCB3-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0woFqCB3-">
        .g0woFqCB3- {

}
.g0woFqCB3- p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gFlsgX1fo6" data-id="gFlsgX1fo6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:-1px;--mb:0px;--pl:1px;--mb-mobile:0px;--cg:24px;--cg-mobile:13px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:554px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFlsgX1fo6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjoMwF8CU_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTeZ8pHW9g" data-id="gTeZ8pHW9g"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--pt:12px;--pl:16px;--pb:12px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:170px;--w-tablet:170px;--w-mobile:120px;--bgc:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 14%, #D3EFE3 15%);--bgi:linear-gradient(90deg, #9ADCBF 0%, #9ADCBF 14%, #D3EFE3 15%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTeZ8pHW9g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grxKVQZcn_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLx0m6DEqm">
    <div
      parentTag="Col"
        class="gLx0m6DEqm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#002917;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLx0m6DEqm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gLx0m6DEqm">
        .gLx0m6DEqm {

}
.gLx0m6DEqm p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geS8hUS9tR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnfx9-9gMn">
    <div
      parentTag="Col"
        class="gnfx9-9gMn "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mb-mobile:0px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#395448;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnfx9-9gMn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gnfx9-9gMn">
        .gnfx9-9gMn {

}
.gnfx9-9gMn p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqXvX6sRjx gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--mb:0px;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--mb-mobile:0px" class="gu1qaubK10 ">
      
    <div class='gp-flex gp-overflow-hidden' style="border-radius: inherit">
      
  <gp-image-comparison
  data-id="gu1qaubK10"
    gp-data='{"aspectRatio":{"desktop":"920/894"},"defaultRatio":"920/894","handle":null,"handleSize":40,"hover":false,"leftImage":{"backupFileKey":"gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png","height":894,"src":"https://cdn.shopify.com/s/files/1/0611/5111/7547/files/gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png","storage":"FILE_CONTENT","width":920},"leftImageCss":{},"rightImage":{"backupFileKey":"gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png","height":894,"src":"https://cdn.shopify.com/s/files/1/0611/5111/7547/files/gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png","storage":"FILE_CONTENT","width":920},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gu1qaubK10","vertical":false}'
    class="gp-w-full gp-flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start"
  >
  <div id="img-comparison-wrapper-gu1qaubK10" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block"
      id="img-comparison-container-gu1qaubK10"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="920"
        height="894"
        style="--pos:static;--op:0;--aspect:920/894"
      />
      
  <img
      id="right-image-gu1qaubK10" title
      data-testid="right-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png" | file_url }}" data-srcset="{{ "gempages_575406951106609695-f0a2bec6-744c-423b-90ca-82b4227ea120.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:fill"
    />
  
      
  <img
      id="left-image-gu1qaubK10" title
      data-testid="left-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png" | file_url }}" data-srcset="{{ "gempages_575406951106609695-a0f155bd-03a1-4b28-bf91-a92f62437adb.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:fill"
    />
  
      <div id="image-comparison-slider-gu1qaubK10" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-575536818452169247 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/recurpay-subscriptions/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575536802547368522&sectionId=575536818452169247)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYkkpP1Stv_text","label":"ggYkkpP1Stv_text","default":"Nutrition Tailored<br>for Feline Health"},{"type":"html","id":"ggVX_CAq0w2_text","label":"ggVX_CAq0w2_text","default":"<p>Purrfect Pâté is meticulously formulated to meet the unique nutritional needs of cats. Each batch is crafted with high-quality, natural ingredients that provide the optimal balance of protein, fat, and moisture your feline friend requires.</p>"},{"type":"html","id":"ggDmX9mEGTy_leftImageLabel","label":"ggDmX9mEGTy_leftImageLabel","default":"Before"},{"type":"html","id":"ggDmX9mEGTy_rightImageLabel","label":"ggDmX9mEGTy_rightImageLabel","default":"After"},{"type":"html","id":"ggqX2Nls36-_text","label":"ggqX2Nls36-_text","default":"<p>Keypoints:</p>"},{"type":"html","id":"ggFSbGHW-AL_text","label":"ggFSbGHW-AL_text","default":"<p>78%</p>"},{"type":"html","id":"gg5inWRB9OW_text","label":"gg5inWRB9OW_text","default":"<p>The 78% moisture level helps keep your cat hydrated and supports urinary tract health.</p>"},{"type":"html","id":"ggicy52hzMt_text","label":"ggicy52hzMt_text","default":"<p>12%</p>"},{"type":"html","id":"gg0woFqCB3-_text","label":"gg0woFqCB3-_text","default":"<p>The 12% protein content in Purrfect Pâté supports the development and maintenance of lean muscle mass in your cat.</p>"},{"type":"html","id":"ggLx0m6DEqm_text","label":"ggLx0m6DEqm_text","default":"<p>10%</p>"},{"type":"html","id":"ggnfx9-9gMn_text","label":"ggnfx9-9gMn_text","default":"<p>The carefully balanced 10% fat ratio provides sustained energy without excess calories.</p>"},{"type":"html","id":"ggu1qaubK10_leftImageLabel","label":"ggu1qaubK10_leftImageLabel","default":"Before"},{"type":"html","id":"ggu1qaubK10_rightImageLabel","label":"ggu1qaubK10_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
