

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-575536818452169667.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-575536818452169667.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-575536818452169667.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-575536818452169667.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-575536818452169667.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-575536818452169667.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-575536818452169667.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-575536818452169667.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-575536818452169667.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-575536818452169667.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-575536818452169667.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-575536818452169667.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-575536818452169667.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-575536818452169667.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-575536818452169667.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-575536818452169667.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-575536818452169667.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-575536818452169667.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-575536818452169667.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-575536818452169667.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-575536818452169667.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-575536818452169667.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-575536818452169667.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-575536818452169667.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-575536818452169667.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-575536818452169667.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-575536818452169667.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-575536818452169667.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-575536818452169667.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-575536818452169667.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-575536818452169667.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-575536818452169667.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-575536818452169667.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-575536818452169667.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-575536818452169667.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-575536818452169667.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-575536818452169667.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-575536818452169667.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-575536818452169667.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-575536818452169667.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-575536818452169667.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-575536818452169667.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-575536818452169667.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-575536818452169667.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-575536818452169667.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-575536818452169667.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-575536818452169667.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-575536818452169667.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-575536818452169667.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-575536818452169667.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-575536818452169667.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-575536818452169667.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-575536818452169667.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-575536818452169667.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-575536818452169667.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-575536818452169667.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-575536818452169667.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-575536818452169667.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-575536818452169667.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-575536818452169667.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-575536818452169667.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-575536818452169667.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-575536818452169667.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-575536818452169667.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-575536818452169667.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-575536818452169667.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-575536818452169667.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-575536818452169667.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-575536818452169667.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-575536818452169667.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-575536818452169667.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-575536818452169667.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-575536818452169667.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-575536818452169667.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-575536818452169667.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-575536818452169667.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-575536818452169667.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-575536818452169667.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-575536818452169667.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-575536818452169667.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-575536818452169667.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-575536818452169667.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-575536818452169667.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-575536818452169667.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-575536818452169667.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-575536818452169667.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-575536818452169667.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-575536818452169667.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-575536818452169667.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-575536818452169667 .gp-relative{position:relative}.gps-575536818452169667 .gp-z-1{z-index:1}.gps-575536818452169667 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-575536818452169667 .gp-mb-0{margin-bottom:0}.gps-575536818452169667 .gp-flex{display:flex}.gps-575536818452169667 .gp-inline-flex{display:inline-flex}.gps-575536818452169667 .gp-grid{display:grid}.gps-575536818452169667 .gp-contents{display:contents}.gps-575536818452169667 .\!gp-hidden{display:none!important}.gps-575536818452169667 .gp-hidden{display:none}.gps-575536818452169667 .gp-h-auto{height:auto}.gps-575536818452169667 .gp-h-full{height:100%}.gps-575536818452169667 .gp-w-full{width:100%}.gps-575536818452169667 .gp-max-w-full{max-width:100%}.gps-575536818452169667 .gp-flex-none{flex:none}.gps-575536818452169667 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-575536818452169667 .gp-flex-col{flex-direction:column}.gps-575536818452169667 .gp-items-center{align-items:center}.gps-575536818452169667 .gp-justify-center{justify-content:center}.gps-575536818452169667 .gp-gap-y-0{row-gap:0}.gps-575536818452169667 .gp-overflow-hidden{overflow:hidden}.gps-575536818452169667 .gp-break-words{overflow-wrap:break-word}.gps-575536818452169667 .gp-rounded-none{border-radius:0}.gps-575536818452169667 .gp-text-center{text-align:center}.gps-575536818452169667 .gp-leading-\[0\]{line-height:0}.gps-575536818452169667 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-575536818452169667 .gp-no-underline{text-decoration-line:none}.gps-575536818452169667 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575536818452169667 .gp-duration-200{transition-duration:.2s}.gps-575536818452169667 .gp-duration-300{transition-duration:.3s}.gps-575536818452169667 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575536818452169667 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-575536818452169667 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-575536818452169667 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-575536818452169667 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-575536818452169667 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-575536818452169667 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-575536818452169667 .tablet\:\!gp-hidden{display:none!important}.gps-575536818452169667 .tablet\:gp-hidden{display:none}.gps-575536818452169667 .tablet\:gp-h-auto{height:auto}.gps-575536818452169667 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-575536818452169667 .mobile\:\!gp-hidden{display:none!important}.gps-575536818452169667 .mobile\:gp-hidden{display:none}.gps-575536818452169667 .mobile\:gp-h-auto{height:auto}.gps-575536818452169667 .mobile\:gp-flex-none{flex:none}}.gps-575536818452169667 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-575536818452169667 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-575536818452169667 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-575536818452169667 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-575536818452169667 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-575536818452169667 .\[\&_p\]\:gp-inline p{display:inline}.gps-575536818452169667 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-575536818452169667 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-575536818452169667 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gH7tUwx-ZF" data-id="gH7tUwx-ZF"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:80px;--pl:20px;--pb:60px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH7tUwx-ZF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtIIZzX4eS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsIz1f5phL" data-id="gsIz1f5phL"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:32px;--pb:32px;--mb-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsIz1f5phL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAbRtObqEu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:14px;--ta:center"
    
  >
    <style>
    .gyVVa3i-fO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gyVVa3i-fO:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gyVVa3i-fO:hover .gp-button-icon {
      color: undefined;
    }

     .gyVVa3i-fO .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gyVVa3i-fO:hover .gp-button-price {
      color: undefined;
    }

    .gyVVa3i-fO .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gyVVa3i-fO .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gyVVa3i-fO:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gyVVa3i-fO" aria-label="<p>FAQ&nbsp;</p>"
      
      data-state="idle"
      class="gyVVa3i-fO gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--c:var(--g-c-text-3, text-3);--size:21px;--size-tablet:21px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggyVVa3i-fO_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gyVVa3i-fO">
        button.gyVVa3i-fO {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_2IMNjgNM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:14px;--ta:center"
    
  >
    <style>
    .gr_7HZJ9o4.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gr_7HZJ9o4:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gr_7HZJ9o4:hover .gp-button-icon {
      color: undefined;
    }

     .gr_7HZJ9o4 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gr_7HZJ9o4:hover .gp-button-price {
      color: undefined;
    }

    .gr_7HZJ9o4 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gr_7HZJ9o4 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gr_7HZJ9o4:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gr_7HZJ9o4" aria-label="<p>Delivery Information</p>"
      
      data-state="idle"
      class="gr_7HZJ9o4 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--c:var(--g-c-text-3, text-3);--size:21px;--size-tablet:21px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggr_7HZJ9o4_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gr_7HZJ9o4">
        button.gr_7HZJ9o4 {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glYDl3qeiW gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:14px;--ta:center"
    
  >
    <style>
    .g-cHGZRXVY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-cHGZRXVY:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-cHGZRXVY:hover .gp-button-icon {
      color: undefined;
    }

     .g-cHGZRXVY .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g-cHGZRXVY:hover .gp-button-price {
      color: undefined;
    }

    .g-cHGZRXVY .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g-cHGZRXVY .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g-cHGZRXVY:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="g-cHGZRXVY" aria-label="<p>Return &amp; Exchange&nbsp;</p>"
      
      data-state="idle"
      class="g-cHGZRXVY gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--c:var(--g-c-text-3, text-3);--size:21px;--size-tablet:21px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg-cHGZRXVY_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g-cHGZRXVY">
        button.g-cHGZRXVY {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEWSpkUqXd gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--ta:center"
    
  >
    <style>
    .gHitx9pMfr.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gHitx9pMfr:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gHitx9pMfr:hover .gp-button-icon {
      color: undefined;
    }

     .gHitx9pMfr .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gHitx9pMfr:hover .gp-button-price {
      color: undefined;
    }

    .gHitx9pMfr .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gHitx9pMfr .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gHitx9pMfr:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gHitx9pMfr" aria-label="<p>Contact Us</p>"
      
      data-state="idle"
      class="gHitx9pMfr gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--c:var(--g-c-text-3, text-3);--size:21px;--size-tablet:21px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggHitx9pMfr_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gHitx9pMfr">
        button.gHitx9pMfr {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gCqUEsBW1g" data-id="gCqUEsBW1g"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCqUEsBW1g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsl-ekPfog gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9fOpOHiIZ" data-id="g9fOpOHiIZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:28px;--cg:16px;--cg-mobile:14px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9fOpOHiIZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="ggxuwe_RwK gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ta:center"
      class="gp-leading-[0] gSDwZSnSpX"
    >
      <div 
      data-id="gSDwZSnSpX"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:rgba(245, 247, 248, 0.1)"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="522444997639799671" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<path d="M9.16662 4.48275C10.2328 4.46486 11.263 4.86801 12.0339 5.60475L14.1849 3.45375C12.8274 2.17858 11.029 1.47841 9.16662 1.5C7.77604 1.49942 6.4127 1.88561 5.22901 2.6154C4.04532 3.34519 3.08793 4.38982 2.46387 5.6325L4.96962 7.575C5.25779 6.68531 5.81775 5.90841 6.57066 5.35369C7.32357 4.79897 8.2315 4.49436 9.16662 4.48275Z" fill="white"/>
<path d="M2.46337 5.63232C1.93905 6.67744 1.66602 7.83056 1.66602 8.99982C1.66602 10.1691 1.93905 11.3222 2.46337 12.3673L4.96912 10.4248C4.65554 9.5007 4.65554 8.49895 4.96912 7.57482L2.46412 5.63232H2.46337Z" fill="white"/>
<path d="M11.7063 12.8013C11.1265 13.1735 10.4693 13.4084 9.78486 13.488C9.10044 13.5676 8.40687 13.4898 7.75706 13.2606C7.10726 13.0315 6.51838 12.6569 6.03534 12.1655C5.55231 11.6741 5.18788 11.0789 4.96984 10.4253L2.46484 12.3678C3.08879 13.6102 4.04595 14.6547 5.22935 15.3845C6.41275 16.1143 7.77577 16.5006 9.16609 16.5003C10.9918 16.5497 12.7674 15.8997 14.1296 14.683L11.7056 12.8013H11.7063Z" fill="white"/>
<path d="M16.2295 7.63623H9.16602V10.5372H13.2025C13.119 10.9961 12.9432 11.4333 12.6859 11.8224C12.4286 12.2114 12.0951 12.5442 11.7055 12.8007L14.1295 14.6832C14.8677 13.9723 15.4482 13.1142 15.8335 12.1646C16.2187 11.215 16.4002 10.195 16.366 9.17073C16.366 8.65548 16.321 8.14248 16.2295 7.63623Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="g0RA7hB-bo gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] g14cQAhhtq"
    >
      <div 
      data-id="g14cQAhhtq"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:rgba(245, 247, 248, 0.1)"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="522445023124390775" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.125 5.625C1.125 3.13972 3.13972 1.125 5.625 1.125H12.375C14.8603 1.125 16.875 3.13972 16.875 5.625V12.375C16.875 14.8603 14.8603 16.875 12.375 16.875H5.625C3.13972 16.875 1.125 14.8603 1.125 12.375V5.625ZM9 6.1875C8.44374 6.1875 7.89997 6.35245 7.43746 6.66149C6.97495 6.97053 6.61446 7.40979 6.40159 7.9237C6.18872 8.43762 6.13302 9.00312 6.24154 9.54869C6.35006 10.0943 6.61793 10.5954 7.01126 10.9887C7.4046 11.3821 7.90574 11.6499 8.45131 11.7585C8.99688 11.867 9.56238 11.8113 10.0763 11.5984C10.5902 11.3855 11.0295 11.0251 11.3385 10.5625C11.6475 10.1 11.8125 9.55626 11.8125 9C11.8125 8.25428 11.5163 7.53908 10.9891 7.01166C10.4619 6.48425 9.74686 6.1878 9.00114 6.1875H9ZM12.75 4.0797C12.8887 3.98699 13.0519 3.9375 13.2188 3.9375C13.4425 3.93759 13.6573 4.02653 13.8155 4.18475C13.9737 4.34297 14.0625 4.55753 14.0625 4.78125C14.0625 4.94813 14.013 5.11126 13.9203 5.25001C13.8276 5.38877 13.6958 5.49691 13.5416 5.56077C13.3875 5.62463 13.2178 5.64134 13.0541 5.60879C12.8905 5.57623 12.7401 5.49587 12.6221 5.37787C12.5041 5.25987 12.4238 5.10953 12.3912 4.94586C12.3587 4.78219 12.3754 4.61254 12.4392 4.45836C12.5031 4.30419 12.6112 4.17241 12.75 4.0797Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gyoa1O-w6O gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ta:center"
      class="gp-leading-[0] gwWgpR1e8k"
    >
      <div 
      data-id="gwWgpR1e8k"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:rgba(245, 247, 248, 0.1)"
      >
      <a
      href="#" target="_blank" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="522445009333519223" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<path d="M10.0167 16.5001V9.65786H12.3132L12.6574 6.99161H10.0174V5.28911C10.0174 4.51661 10.2312 3.99086 11.3382 3.99086L12.7504 3.99011V1.60511C12.0671 1.53279 11.3803 1.49774 10.6932 1.50011C8.65694 1.50011 7.26344 2.74286 7.26344 5.02511V6.99161H4.96094V9.65786H7.26344V16.5001H10.0167Z" fill="white"/>
</svg></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grHa9d43b1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7eMx89mHY">
    <div
      parentTag="Col"
        class="g7eMx89mHY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7eMx89mHY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7eMx89mHY">
        .g7eMx89mHY {

}
.g7eMx89mHY p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQegAFn1qd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gx_DbDpEVx" data-id="gx_DbDpEVx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pr:30px;--pr-mobile:0px;--cg:7px;--pc:end;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx_DbDpEVx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9S7zUfNT9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g5ikNctpnC"
    role="presentation"
    class="gp-group/image g5ikNctpnC gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_575406951106609695-33beef28-540b-4ba1-bd49-97cfb274df08.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_575406951106609695-33beef28-540b-4ba1-bd49-97cfb274df08.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_575406951106609695-33beef28-540b-4ba1-bd49-97cfb274df08.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g5ikNctpnC">
        .g5ikNctpnC {

}
.g5ikNctpnC > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHF4RpEvr2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_whLyr0M0"
    role="presentation"
    class="gp-group/image g_whLyr0M0 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_575406951106609695-92d32a8b-d806-4dad-8974-bc36993a82e4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_575406951106609695-92d32a8b-d806-4dad-8974-bc36993a82e4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_575406951106609695-92d32a8b-d806-4dad-8974-bc36993a82e4.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g_whLyr0M0">
        .g_whLyr0M0 {

}
.g_whLyr0M0 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geMF90ILXR gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gf4U4xX8nj"
    role="presentation"
    class="gp-group/image gf4U4xX8nj gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_575406951106609695-2e0d4382-f998-42fa-8b73-d23beba2ea63.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_575406951106609695-2e0d4382-f998-42fa-8b73-d23beba2ea63.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_575406951106609695-2e0d4382-f998-42fa-8b73-d23beba2ea63.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gf4U4xX8nj">
        .gf4U4xX8nj {

}
.gf4U4xX8nj > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEg1OPZ4fA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJZCI8WYia"
    role="presentation"
    class="gp-group/image gJZCI8WYia gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_575406951106609695-686e63fb-b342-4058-b8d4-1cb7c4c21d35.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_575406951106609695-686e63fb-b342-4058-b8d4-1cb7c4c21d35.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_575406951106609695-686e63fb-b342-4058-b8d4-1cb7c4c21d35.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gJZCI8WYia">
        .gJZCI8WYia {

}
.gJZCI8WYia > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZg9Wh3xLw gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gjanJ84wyJ"
    role="presentation"
    class="gp-group/image gjanJ84wyJ gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_575406951106609695-ed493b27-b209-42bf-906b-2e4381e12714.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_575406951106609695-ed493b27-b209-42bf-906b-2e4381e12714.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_575406951106609695-ed493b27-b209-42bf-906b-2e4381e12714.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gjanJ84wyJ">
        .gjanJ84wyJ {

}
.gjanJ84wyJ > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--bottom:64px;--bottom-mobile:20px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pos:fixed;--right:29px;--right-mobile:20px;--ml:0px;--z:99999;--ta:left"
      class="gp-leading-[0] g_DIjzmxp5"
    >
      <div 
      data-id="g_DIjzmxp5"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F1F3F4;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--bg:#242424"
      >
      <a
      href="#gaycyWxkk7" target="_self" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:61px;--w-tablet:61px;--w-mobile:61px;--h:61px;--h-tablet:61px;--h-mobile:61px;--minw:61px;--minw-tablet:61px;--minw-mobile:61px;--height-desktop:61px;--height-tablet:61px;--height-mobile:61px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="523052133965104028" xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
<rect x="0.5" y="0.5" width="60" height="60" rx="5.5" stroke="#F1F3F4"/>
<g clip-path="url(#clip0_706_9586)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.6875 30.5C18.6875 33.6329 19.932 36.6374 22.1473 38.8527C24.3626 41.068 27.3671 42.3125 30.5 42.3125C33.6329 42.3125 36.6374 41.068 38.8527 38.8527C41.068 36.6374 42.3125 33.6329 42.3125 30.5C42.3125 27.3671 41.068 24.3626 38.8527 22.1473C36.6374 19.932 33.6329 18.6875 30.5 18.6875C27.3671 18.6875 24.3626 19.932 22.1473 22.1473C19.932 24.3626 18.6875 27.3671 18.6875 30.5ZM44 30.5C44 34.0804 42.5777 37.5142 40.0459 40.0459C37.5142 42.5777 34.0804 44 30.5 44C26.9196 44 23.4858 42.5777 20.9541 40.0459C18.4223 37.5142 17 34.0804 17 30.5C17 26.9196 18.4223 23.4858 20.9541 20.9541C23.4858 18.4223 26.9196 17 30.5 17C34.0804 17 37.5142 18.4223 40.0459 20.9541C42.5777 23.4858 44 26.9196 44 30.5ZM31.3438 36.4062C31.3438 36.63 31.2549 36.8446 31.0966 37.0029C30.9384 37.1611 30.7238 37.25 30.5 37.25C30.2762 37.25 30.0616 37.1611 29.9034 37.0029C29.7451 36.8446 29.6562 36.63 29.6562 36.4062V26.6306L26.0349 30.2536C25.8764 30.4121 25.6616 30.5011 25.4375 30.5011C25.2134 30.5011 24.9986 30.4121 24.8401 30.2536C24.6817 30.0952 24.5927 29.8803 24.5927 29.6562C24.5927 29.4322 24.6817 29.2173 24.8401 29.0589L29.9026 23.9964C29.981 23.9178 30.0741 23.8555 30.1766 23.8129C30.2791 23.7704 30.389 23.7485 30.5 23.7485C30.611 23.7485 30.7209 23.7704 30.8234 23.8129C30.9259 23.8555 31.019 23.9178 31.0974 23.9964L36.1599 29.0589C36.3183 29.2173 36.4073 29.4322 36.4073 29.6562C36.4073 29.8803 36.3183 30.0952 36.1599 30.2536C36.0014 30.4121 35.7866 30.5011 35.5625 30.5011C35.3384 30.5011 35.1236 30.4121 34.9651 30.2536L31.3438 26.6306V36.4062Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_706_9586">
<rect width="27" height="27" fill="white" transform="translate(17 17)"/>
</clipPath>
</defs>
</svg></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-575536818452169667 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/recurpay-subscriptions/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575536802547368522&sectionId=575536818452169667)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyVVa3i-fO_label","label":"ggyVVa3i-fO_label","default":"<p>FAQ&nbsp;</p>"},{"type":"html","id":"ggr_7HZJ9o4_label","label":"ggr_7HZJ9o4_label","default":"<p>Delivery Information</p>"},{"type":"html","id":"gg-cHGZRXVY_label","label":"gg-cHGZRXVY_label","default":"<p>Return &amp; Exchange&nbsp;</p>"},{"type":"html","id":"ggHitx9pMfr_label","label":"ggHitx9pMfr_label","default":"<p>Contact Us</p>"},{"type":"html","id":"gg7eMx89mHY_text","label":"gg7eMx89mHY_text","default":"<p>Copyright  2024 GemPages.&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
