{% style %}
  .partner-resources {
        max-width: 1200px;
    margin: 0 auto;
    padding: 56px 24px 40px;
  }

  .partner-resources-header {
    text-align: center;
    margin-bottom: 32px;
  }

  .partner-resources-title-main {
    font-size: 24px;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .partner-resources-subtitle-main {
    font-size: 15px;
    color: #6B7280;
    margin-block: 0;
  }

  .partner-resources-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
  }

  .partner-resource-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #00000014;
    text-decoration: none;
  }
/* 
  .partner-resource-card:hover {
    background: #F0F0F1;
    transform: translateY(-2px);
  } */

  .partner-resource-icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F172A;
  }

  .partner-resource-text-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .partner-resource-title {
    font-size: 15px;
    font-weight: 600;
    color: #0F172A;
  }

  .partner-resource-subtitle {
    font-size: 13px;
    color: #6B7280;
  }
{% endstyle %}

<section class="partner-resources">
    <div class="partner-resources-header">
      <h2 class="partner-resources-title-main">{{ section.settings.main_title }}</h2>
      <p class="partner-resources-subtitle-main">{{ section.settings.main_subtitle }}</p>
    </div>
    <div class="partner-resources-grid">
      {% for block in section.blocks %}
        <a href="{{ block.settings.resource_url }}" class="partner-resource-card" data-media-type="banani-button" {{ block.shopify_attributes }}>
          <div class="partner-resource-icon">
            {{ block.settings.resource_icon  }}
          </div>
          <div class="partner-resource-text-group">
            <div class="partner-resource-title">{{ block.settings.resource_title }}</div>
            <div class="partner-resource-subtitle">{{ block.settings.resource_subtitle }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Partner Resources",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Partner Resources"
    },
    {
      "type": "text",
      "id": "main_subtitle",
      "label": "Main Subtitle",
      "default": "Everything you need to succeed with Recurpay."
    }
  ],
  "blocks": [
    {
      "type": "resource",
      "name": "Resource Card",
      "settings": [
        {
          "type": "html",
          "id": "resource_icon",
          "label": "Icon",
          "info": "Paste SVG icon code here"
        },
        {
          "type": "text",
          "id": "resource_title",
          "label": "Title",
          "default": "Developer Docs"
        },
        {
          "type": "text",
          "id": "resource_subtitle",
          "label": "Subtitle",
          "default": "Read documentation →"
        },
        {
          "type": "url",
          "id": "resource_url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Partner Resources"
    }
  ]
}
{% endschema %}